/* Default navbar styles */
.navbarss {
    transition: background-color 0.3s, color 0.3s;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensure navbar is above other content */
}

/* Navbar when scrolled inside the banner section */
.navbar-transparent {
    background-color: transparent !important; 
    color: rgb(214, 38, 38)  !important; /* White text */
}

.navbar-transparent .nav-link,
.navbar-transparent .logo {
    color: white; /* White color for links and logo */
}

.navbar-transparent .dropdown-menu {
    background-color: transparent; /* Transparent dropdown menu */
}

/* Navbar when scrolled past the banner section */
.navbar-scrolled {
    background-color: rgba(var(--bs-light-rgb)) !important; /* White background */
    color: black !important; /* Black text */
}

.navbar-scrolled .nav-link,
.navbar-scrolled .logo {
    color: black; /* Black color for links and logo */
}

.navbar-scrolled .dropdown-menu {
    background-color: white; /* White background for dropdown menu */
}
